<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Newspeak</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/styles.css">
        <script defer src="/static/index.js"></script>
    </head>
    <body>
        <h1 style="text-align: center;">Newspeak</h1>

        <div id="header">
            <button class="link-button" id="new-scraper-btn">new</button>
            <button onclick="location.href = './results.html'" class="link-button">all results</a>
        </div>
        <div id="new-scraper-form">
            <form method="POST">
                <input type="hidden" name="action_type" value="create_scraper">

                <div class="scraper-field">
                    <label for="search_query"><b>search_query:</b></label>
                    <input type="text" placeholder="Enter search query..." name="search_query" required>
                </div>
                <div class="scraper-field">
                    <label for="engine"><b>engine:</b></label>
                    <select name="engine">
                        <option value="google">Google</option>
                    </select>
                </div>
                <div class="scraper-field">
                    <label for="max_pages"><b>max_pages:</b></label>
                    <input type="text" placeholder="Default: 100, Max: 1000" name="max_pages" required>
                </div>
                <div class="scraper-field">
                    <label for="page_step"><b>page_step:</b></label>
                    <input type="text" placeholder="Default: 1" name="page_step" required>
                </div>
                <div class="scraper-field">
                    <label for="per_page"><b>per_page:</b></label>
                    <input type="text" placeholder="Default: 10, Max: 100" name="per_page" required>
                </div>
                <div class="scraper-field">
                    <label for="run_interval_value"><b>autorun:</b> every </label>
                    <input type="text" placeholder="" name="run_interval_value">
                    <select name="run_interval_metric">
                        <option value="manual">disabled</option>
                        <option value="minute">minute(s)</option>
                        <option value="hour">hour(s)</option>
                        <option value="day">day(s)</option>
                        <option value="week">week(s)</option>
                        <option value="month">month(s)</option>
                        <option value="year">year(s)</option>
                    </select>
                </div>
                <div id="popup-btns">
                    <button type="submit" class="link-button create-button" id="create-scraper-btn">create</button>
                    <button type="button" class="link-button" id="close-scraper-btn">close</button>
                </div>
            </form>
        </div>

        <div id="main">
            <table id="scraper-table">
                <thead>
                    <tr>
                        <th>search_query</th>
                        <th>engine</th>
                        <th>max_pages</th>
                        <th>page_step</th>
                        <th>per_page</th>
                        <th>autorun_value</th>
                        <th>autorun_metric</th>
                        <th>last_run</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data['scrapers'] %}
                    <tr>
                        <td>{{item['search_query']}}</td>
                        <td>{{item['engine']}}</td>
                        <td>{{item['max_pages']}}</td>
                        <td>{{item['page_step']}}</td>
                        <td>{{item['per_page']}}</td>
                        <td>{{item['run_interval_value']}}</td>
                        <td>{{item['run_interval_metric']}}</td>
                        <td>{{item['last_run']}}</td>
                        <td>
                            <form method="POST"> <!-- changed -->
                                <input type="hidden" name="action_type" value="run_scraper">
                                <input type="hidden" name="search_query" value="{{item['search_query']}}">
                                <input type="hidden" name="engine" value="{{item['engine']}}">
                                <input type="hidden" name="max_pages" value="{{item['max_pages']}}">
                                <input type="hidden" name="page_step" value="{{item['page_step']}}">
                                <input type="hidden" name="per_page" value="{{item['per_page']}}">
                                <button type="submit" name="run_btn" value="run_req" class="link-button">run</button>
                            </form>
                            <form method="POST" class="toggle-scraper-form"> <!-- changed -->
                                <input type="hidden" name="action_type" value="toggle_scraper">
                                <input type="hidden" name="search_query" value="{{item['search_query']}}">
                                <input type="hidden" name="engine" value="{{item['engine']}}">
                                <button type="submit" id="toggle_btn" value="toggle_req"
                                    class="link-button">{{item['toggle_text']}}</button>
                            </form>
                            <form method="POST"> <!-- changed -->
                                <input type="hidden" name="action_type" value="delete_scraper">
                                <input type="hidden" name="search_query" value="{{item['search_query']}}">
                                <input type="hidden" name="engine" value="{{item['engine']}}">
                                <button type="submit" name="delete_btn" value="delete_req" class="link-button">delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>